In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
study_df = pd.read_excel('data/clinical-study.xlsx',sheet_name='in')
study_df.head()

  subject_id   age     sex  weight  height  trt_grp RESPONSE
0   SUBJ_001  46.0  Female   84.66    1.59     DRUG        N
1   SUBJ_001  46.0  Female   84.66    1.59     DRUG        N
2   SUBJ_002  47.0  Female   71.21    1.64     DRUG        Y
3   SUBJ_003  48.0  Female   69.85    1.73  CONTROL        N
4   SUBJ_004  59.0  Female   62.94    1.50     DRUG        Y

In [3]:
study_df.dtypes

subject_id     object
age           float64
sex            object
weight        float64
height        float64
trt_grp        object
RESPONSE       object
dtype: object

In [5]:
protein_df = pd.read_excel('data/protein-levels.xlsx',sheet_name='in')
protein_df.head()

  participant_id  protein_concentration
0       SUBJ_001                  148.0
1       SUBJ_002                   85.0
2       SUBJ_003                  183.0
3       SUBJ_004                   89.0
4       SUBJ_005                  137.0

Here participant_id & subject_id represent the entity so change it to a common name

In [6]:
study_df.rename(columns={'subject_id':'participant_id'},inplace=True)
study_df.head()

  participant_id   age     sex  weight  height  trt_grp RESPONSE
0       SUBJ_001  46.0  Female   84.66    1.59     DRUG        N
1       SUBJ_001  46.0  Female   84.66    1.59     DRUG        N
2       SUBJ_002  47.0  Female   71.21    1.64     DRUG        Y
3       SUBJ_003  48.0  Female   69.85    1.73  CONTROL        N
4       SUBJ_004  59.0  Female   62.94    1.50     DRUG        Y